<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812063336333-36bj9bij2phptdfp8b25fns4f3jdj3ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812063336333-36bj9bij2phptdfp8b25fns4f3jdj3ao</string>
	<key>API_KEY</key>
	<string>AIzaSyDMOZnaW3ninITfT8IyAqyQSqo3bA5tRtY</string>
	<key>GCM_SENDER_ID</key>
	<string>812063336333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>a.Star-Citizen-Crew-Finder</string>
	<key>PROJECT_ID</key>
	<string>sclfg-1</string>
	<key>STORAGE_BUCKET</key>
	<string>sclfg-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812063336333:ios:e3844ff020b222ecc57fc4</string>
	<key>DATABASE_URL</key>
	<string>https://sclfg-1.firebaseio.com</string>
</dict>
</plist>